* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   padding: 20px;
   padding-left: 30px;
   color: hsl(255, 11%, 22%);
   font-family: "Courier New", Courier, monospace;
   background-image: linear-gradient(to right, #b6fbff, #83a4d4);
   background-repeat: no-repeat;
}
h1 {
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
   margin-top: 20px;
}
p {
   font-size: 1.1rem;
   font-weight: 600;
}
.input-holder {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-top: 20px;
}
input {
   width: 100px;
   height: 20px;
   padding: 20px;
   font-size: 1rem;
   font-weight: 600;
   border-radius: 8px;
   border: 0;
   outline: 0;
}
button {
   width: 100px;
   height: 40px;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
}
.display-contain {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 50px;
   margin-bottom: 30px;
}
.counter {
   width: 80px;
   height: 50px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: grid;
   place-content: center;
   font-size: 1.6rem;
   font-weight: bold;
}
.errorMsg{
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    display: none;
}
